$main-color: #2A3647;
$secendary-color: #091931;
$light-blue: #29ABE2; //hover-effekt
$urgent-color: #FF3D00;
$medium-color: #FFA800;
$low-color: #7AE229;
$story-color: #0038FF;
$task-color: #1FD7C1;


