// Spacing //
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-mdg: 32px;
$spacing-lg: 50px;
$spacing-xl: 100px;
$spacing-xxl: 150px;
$spacing-xxxl: 200px;
// Spacing //

// Colors //
$darkblue: #2A3647;
$secondary-color: #091931;
$nav-hover: #2A3D59;
$light-blue: #29ABE2; //hover-effekt
$urgent-color: #FF3D00;
$medium-color: #FFA800;
$low-color: #7AE229;
$story-color: #0038FF;
$task-color: #1FD7C1;
$user-hover: #0C2E62;
$board-border: #A8A8A8;

// Colors //

// Misc //
$radius: (
	small: 8px,
	medium: 10px,
	large: 24px,
	x-large: 30px
);
// Misc //