// Spacing //
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-mdg: 32px;
$spacing-lg: 50px;
$spacing-xl: 100px;
$spacing-xxl: 150px;
$spacing-xxxl: 200px;
// Spacing //

// Misc //
$btn-radius: 10px;
$card-radius: 30px;
// Misc //

// Colors //
$darkblue: #2A3647;
$lightblue: #007CEE;
// Colors //