@use '../../styles/vars.scss' as *;
@use '../../styles/mixin.scss' as *;

h1{
	display: flex;
	align-self: center;
}

section {
	max-width: 1200px;
	padding: 0 $spacing-lg;
	margin-top: 80px;

	@include respond-max($break-md) {
		padding: 0 $spacing-md;
		margin-top: 24px;
		margin-bottom: 104px;
	}
	& h1 {
		margin-bottom: 0;
	}
	ol {
		margin-bottom: $spacing-lg;
		& li {
			counter-increment: item;
			&::marker {
				content: counter(item) '. ';
				padding-right: 20px;
				font-size: 27px;
				font-weight: 600;
			}
			& h3,
			& p {
				margin-left: $spacing-md;
			}
		}
	} 
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: start;
	margin-bottom: 80px;

	@include respond-max($break-md) {
		margin-bottom: 40px;
	}
}

.back-btn {
	border: 0;
	background: transparent;
	cursor: pointer;

	img {
		width: 35px;
		object-fit: contain;
		transition: all 0.1s ease;
		border-radius: 100%;

		&:hover {
			transform: scale(1.2);
			background: #eee;
		}
	}
}

h2 {
	font-size: 27px;
	font-weight: 700;
	margin-bottom: 12px;
}

h3 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 20px;
}

p,
li {
	font-size: 16px;
	line-height: 1.6;
	color: #111;
	margin-bottom: 24px;
	hyphens: auto;
}

ul {
	padding-left: 16px;
	margin: 8px 0 16px 0;
}

a {
	color: #29abe2;
	text-decoration: none;
	word-break: break-word;
	overflow-wrap: break-word;

	&:hover {
		text-decoration: underline;
	}
}