@use '../../../styles/vars.scss' as *;
@use '../../../styles/mixin.scss' as *;
@use 'sass:color';

.contacts {
	width: 450px;
	height: calc(100vh - 81px);
	padding: 0 $spacing-lg;
	overflow-y: auto;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	scrollbar-width: thin;
	background: white;
	position: relative;
	z-index: 101;
	@include respond-max($break-xl) {
		padding: 0 $spacing-md;
		width: 400px;
	}
	@include respond-max($break-lg) {
		width: 100%;
	}
	@include respond-max($break-md) {
		height: calc(100vh - 161px);
		padding-top: 50px;
	}
	&__header {
		position: sticky;
		top: 0;
		z-index: 10;
		background: white;
		padding: $spacing-md;
		@include respond-max($break-md) {
			padding: 0;
			position: fixed;
			top: unset;
			bottom: 100px;
			right: 20px;
			background: transparent;
		}
	}

	&__add-btn {
		@include button-base;
		@include button-primary;
		width: 100%;
		
		@include respond-max($break-md) {
			border-radius: 100%;
			padding: .75rem;
			width: auto;
		}
		&-text {
			font-size: 16px;
			font-weight: 500;
			line-height: 1;
			@include respond-max($break-md) {
				display: none;
			}
		}
		
		&-icon {
			flex-shrink: 0;
			@include respond-max($break-md) {
				width: 32px;
				height: 32px;
				object-fit: contain;
			}
		}

		&:active {
			transform: scale(0.98);
		}
	}

	&__card {
		gap: $spacing-md;
		padding: 1rem 1.5rem;
		border-radius: radius(medium);
		margin-bottom: $spacing-sm;
		cursor: pointer;
		@include dFlex-responsive(
			row,
			row,
			$justify: flex-start,
			$align: center
		);
		.contacts__initials {
			border: 2px solid #fff;
		}

		&:hover {
			background: linear-gradient(180deg,rgba(249, 249, 249, 1) 0%, rgba(240, 240, 240, 1) 100%);
		}

		&.active {
			background: $darkblue;
			color: #fff;
			.contacts__initials {
				border: 2px solid #fff;
			}
		}
	}

	&__initials {
		color: #fff;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		border: 2px solid transparent;
		@include dFlex-responsive(row, row, $justify: center, $align: center);

	}

	&__info {
		gap: $spacing-xs;
		@include dFlex-responsive(
			column,
			column,
			$justify: center,
			$align: flex-start
		);

		& p {
			text-decoration: none;
			color: $light-blue;
			word-break: break-all;
		}
	}

	&__letter {
		padding: 1rem 2rem;
		border-bottom: 1px solid #d1d1d1;
		@include spacing(margin-bottom, $spacing-sm, $spacing-sm, $spacing-sm);
		font-weight: 400;
	}
}
