<div class="contacts">
	<header class="contacts__header">
		<button
			class="contacts__add-btn"
			(click)="openCreateModal()"
			type="button"
			aria-label="Add new contact"
		>
			<span class="contacts__add-btn-text">Add new contact</span>
			<img
				src="icons/add_contact.svg"
				alt="add contact icon"
				class="contacts__add-btn-icon"
				width="24"
				height="24"
			/>
		</button>
	</header>
	@for (group of groupedContacts(); track group[0]) {
	<div class="contacts__group">
		<p class="contacts__letter h5">{{ group[0] }}</p>
		@for (contact of group[1]; track contact.id) {
		<div class="contacts__card" [class.active]="selectedContact()?.id === contact.id" (click)="showDetails(contact)">
			<span
				class="contacts__initials"
				[style.background-color]="contact.color"
				>{{ getInitials(contact.name) }}</span
			>
			<div class="contacts__info">
				<span>{{ contact.name }}
				@if (isCurrentUser(contact)) {<strong>(You)</strong>}
				</span>
				<p>{{ contact.email }}</p>
			</div>
		</div>
		}
	</div>
	}
</div>

<app-contact-modal [isOpen]="isModalOpen()" [contact]="contactToEdit()" (close)="closeModal()">
</app-contact-modal>
