<div class="contacts">
	<header class="contactlist__header">
		<button
			class="contactlist__add-btn"
			(click)="openModal()"
			type="button"
			aria-label="Add new contact"
		>
			<span class="contactlist__add-btn-text">Add new contact</span>
			<img
				src="/icons/add_contact.svg"
				alt=""
				class="contactlist__add-btn-icon"
				width="24"
				height="24"
			/>
		</button>
	</header>
	@for (group of groupedContacts(); track group[0]) {
	<div class="contacts__group">
		<p class="contacts__letter h5">{{ group[0] }}</p>
		@for (contact of group[1]; track contact.id) {
		<div class="contacts__card" (click)="showDetails(contact)">
			<span
				class="contacts__initials"
				[style.background-color]="contact.color"
				>{{ getInitials(contact.name) }}</span
			>
			<div class="contacts__info">
				<span>{{ contact.name }}</span>
				<a [href]="'mailto:' + contact.email">{{ contact.email }}</a>
			</div>
		</div>
		}
	</div>
	}
</div>

<app-contact-modal [isOpen]="isModalOpen()" (close)="closeModal()">
</app-contact-modal>
