@use '../../styles/vars.scss' as *;
@use '../../styles/mixin.scss' as *;

.splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #f6f7f8;
		opacity: 1;
		transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
		@include respond-max($break-md) {
			background: $darkblue;
		}
	}
	
	.splash-logo {
		width: 150px;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
		z-index: 1;

		&--desktop {
			display: block;
			@include respond-max($break-md) {
				display: none;
			}
		}

		&--mobile {
			display: none;
			@include respond-max($break-md) {
				display: block;
			}
		}

		&--mobile-start {
			opacity: 1;
		}

		&--mobile-end {
			opacity: 0;
		}
	}
	
	&.animating {
		&::before {
			opacity: 0;
			@include respond-max($break-md) {
				transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
			}
		}
		
		.splash-logo {
			width: 100px;
			top: 32px;
			left: 50px;
			transform: translate(0, 0);
			@include respond($break-xxl) {
				top: 32px;
				left: calc(50% - 670px);

			}
			@include respond-max($break-md) {
				width: 80px;
				top: 20px;
				left: 20px;
			}
			@include respond-max($break-sm) {
				width: 64px;
				top: 12px;
			}

			&--mobile-start {
				opacity: 0;
				transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
			}

			&--mobile-end {
				opacity: 1;
				transition: all 1s cubic-bezier(0.4, 0, 0.2, 1); 
			}
		}
	}
}
