@use '../../styles/mixin.scss' as *;

.contact {
	@include dFlex-responsive(
		row,
		row,
		$justify: flex-start,
		$align: flex-start
	);
	&__header {
		display: flex;
		align-items: center;
		gap: 35px;
		padding: 20px;
		> h1 {
			@include text-style-responsive(47px, 54px, 61px, 'inter', 700);
		}
	}

	.vl {
		border-left: 2px solid rgba(41, 171, 226, 1);
		height: 60px;
	}
}
