@use '../../styles/mixin.scss' as *;
@use '../../styles/mixin.scss' as *;
@use '../../styles/vars.scss' as *;

.contact {
	background-color: #f6f7f8;
	position: relative;
	@include dFlex-responsive(
		row,
		row,
		$justify: flex-start,
		$align: flex-start
	);

	&__list {
		@include respond-max($break-lg) {
			width: 100%;
		}
	}

	&__header {
		width: fit-content;
		gap: 35px;
		padding: 35px;
		@include dFlex-responsiveXL(
			column,
			row,
			$justify: flex-start,
			$align: center
		);
		@include spacing(gap, 15px, 25px, 35px);
		@include respond-max($break-xl) {
			align-items: flex-start;
		}
		@include respond-max($break-lg) {
			width: 100%;
		}
		@include respond-max($break-sm) {
			padding: 20px 10px;
		}
		@include respond($break-lg) {
			@include respond-max($break-xl) {
				gap: 10px;
			}
		}

		> h4 {
			width: 100%;
		}
	}

	&__headline {
		@media (max-width: 991px) {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		> h1 {
			@include text-style-responsive(47px, 54px, 61px, 'inter', 700);
		}
		> img {
			@include respond($break-lg) {
				display: none;
			}
		}
	}

	&__details {
		overflow-x: hidden;
		position: relative;
		flex: 1;
		@media (max-width: 991px) {
			display: none;
			&.open {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				z-index: 101;
				background: #fff;
				display: block;
			}
		}
	}

	

	& .vl {
		border-left: 2px solid rgba(41, 171, 226, 1);
		height: 60px;
		align-self: center;
		@media (min-width: $break-xxs) and (max-width: $break-xl) {
			display: none;
		}
	}
	.wl {
		border-bottom: 2px solid rgba(41, 171, 226, 1);
		width: 90px;
		align-self: flex-start;
		@media (min-width: $break-lg) and (max-width: $break-xl) {
			display: block;
		}
		@include respond(1201px) {
			display: none;
		}
	}
}
