@use '../../styles/mixin.scss' as *;

.contact {
	@include dFlex-responsive(row,row,$justify: flex-start,$align: flex-start
	);
	&__header {
		gap: 35px;
		padding: 35px;
		@include dFlex-responsive(column, row, $justify: flex-start, $align: center);
		@include spacing (gap, 15px, 25px, 35px);
		@include respond-max($break-md){
			align-items: flex-start
		}
		> h1 {
			@include text-style-responsive(47px, 54px, 61px, 'inter', 700);
		}
	}

	& .vl {
		border-left: 2px solid rgba(41, 171, 226, 1);
		height: 60px;
		align-self: center;
		@include show-desktop
	}
	.wl {
		border-bottom: 2px solid rgba(41, 171, 226, 1);
		width: 90px;
		align-self: flex-start;
		@include show-mobile

	}
}




