@use '../../styles/mixin.scss' as *;

.contact {
	@include dFlex-responsive(row, row, $justify: flex-start, $align: flex-start);
	&__header {
		display: flex;
		align-items: center;
		gap: 35px;
		padding: 20px;
		border: 1px solid #ccc;
	}

	.vl {
		border-left: 2px solid rgba(41, 171, 226, 1);
		height: 60px;
	}
}