@use '../../styles/mixin.scss' as *;
@use '../../styles/mixin.scss' as *;
@use '../../styles/vars.scss' as *;

.contact {
	background-color: #f6f7f8;
	overflow-x: hidden;
	position: relative;
	@include dFlex-responsive(
		row,
		row,
		$justify: flex-start,
		$align: flex-start
	);

	&__list {
		@include respond-max($break-lg) {
			width: 100%;
		}
	}

	&__header {
		width: fit-content;
		gap: 35px;
		padding: 35px;
		@include dFlex-responsiveXL(
			column,
			row,
			$justify: flex-start,
			$align: center
		);
		@include spacing(gap, 15px, 25px, 35px);
		@include respond-max($break-xl) {
			align-items: flex-start;
		}
		@include respond-max($break-lg) {
			width: 100%;
		}
		@include respond($break-lg) {
			@include respond-max($break-xl) {
				gap: 10px;
			}
		}

		> h4 {
			width: 100%;
		}
	}

	&__headline {
		@media (max-width: 991px) {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		> h1 {
			@include text-style-responsive(47px, 54px, 61px, 'inter', 700);
		}
		> img {
			@include respond($break-lg) {
				display: none;
			}
		}
	}

	&__details {
		position: relative;
		flex: 1;
		@media (max-width: 991px) {
			display: none;
			&.open {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 101;
				background: #fff;
				display: block;
			}
		}
	}

	&__options {
		position: absolute;
		bottom: 20px;
		right: 20px;
		display: none;
		justify-content: center;
		align-items: center;
		width: 56px;
		height: 56px;
		border-radius: 100%;
		background-color: #091931;
		z-index: 10;
		@include respond-max($break-md) {
			display: flex;
		}
	}

	&__sidebar {
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translateX(100%);
		opacity: 0;
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1000;
		gap: 10px;
		width: 116px;
		height: 100px;
		background-color: #ffffff;
		border-bottom-left-radius: 16px;
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		box-shadow: -5px 10px 5px 0px rgba(0, 0, 0, 0.21);
		@media (min-width: 768px) {
			display: none;
		}
		.edit-btn,
		.delete-btn {
			display: flex;
			padding-left: 20px;
			gap: 5px;
		}

		button {
			display: flex;
			background: none;
			border: none;
			cursor: pointer;
			font-size: 16px;
			color: inherit;
			font-weight: inherit;
		}

		.edit-btn:hover,
		.delete-btn:hover {
			color: $light-blue;
			font-weight: 600;
		}

		.edit-btn svg path,
		.delete-btn svg path {
			fill: currentColor;
		}

		&.open {
			transform: translateX(0);
			opacity: 1;
		}
	}

	& .vl {
		border-left: 2px solid rgba(41, 171, 226, 1);
		height: 60px;
		align-self: center;
		// @include show-desktop;
		@media (min-width: $break-xxs) and (max-width: $break-xl) {
			display: none;
		}
	}
	.wl {
		border-bottom: 2px solid rgba(41, 171, 226, 1);
		width: 90px;
		align-self: flex-start;
		// @include show-mobile;

		@media (min-width: $break-lg) and (max-width: $break-xl) {
			display: block;
		}
		@include respond(1201px) {
			display: none;
		}
	}
}
