.header {
  height: 80px;
  padding: 0 40px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 240px);
  margin-left: auto;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);

//   position: fixed;
//   top: 0;
//   right: 0;
//   left: 240px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;

  .help-btn {
    background: transparent;
    border: 2px solid #2a3647;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 18px;
    cursor: pointer;
  }

  .user-icon {
    width: 45px;
    border-radius: 50%;
    border: 2px solid #2a3647;
  }
}
