<header class="header">
	<div class="header__row">
		<p class="h5 hide-mobile">Kanban Project Management Tool</p>
		<img src="assets/img/logo-dark.svg" alt="Dark join logo" class="show-mobile">

		@if (authService.currentUser()) {
			<div class="header-right">
				@if (!isHelpRoute()) {
				<img
					src="icons/help.svg"
					alt="Help Icon"
					class="help-btn"
					routerLink="/help"
				/>
				}
				<div class="user-menu">
					<div class="user-icon" (click)="toggleDropdown($event)">
						<span>{{ getInitials() }}</span>
					</div>
					@if (isDropdownOpen()) {
						<div class="dropdown">
							<a routerLink="/legal-notice" class="dropdown-item">
								Legal Notice
							</a>
							<a routerLink="/privacy-policy" class="dropdown-item">
								Privacy Policy
							</a>
							<button class="dropdown-item" (click)="logout()">
								Log out
							</button>
						</div>
					}
				</div>
			</div>
		}
	</div>
</header>
