@use '../../styles/mixin.scss' as *;
@use '../../styles/vars.scss' as *;

.header {
	height: 80px;
	padding: 0 40px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 240px);
	margin-left: auto;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	position: relative;
	z-index: 100;
	
	@media (max-width: 991px) {
		z-index: 200;
	}
	
	@media (max-width: 768px) {
		width: 100%;
		margin-left: 0;
		padding: 0 10px;
	}
	
	&__row {
		max-width: 1160px;
		width: 100%;
		@media (min-width: 769px) {
			padding-left: 50px;
		}
		@include dFlex-responsive(
			row,
			row,
			$justify: space-between,
			$align: center
		);
		.h5 {
			font-weight: 400;
		}
		img {
			width: 35px;
			object-fit: contain;
		}
	}
}

.header-right {
	display: flex;
	align-items: center;
	gap: 20px;

	& .help-btn {
		width: 20px;
		height: 20px;
		transition: all 0.1s ease;
		&:hover {
			transform: scale(1.2);
		}
		@include respond-max($break-md) {
			display: none;
		}
	}

	& .user-icon {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		border: 3px solid #2a3647;
		@include dFlex-responsive(row, row, $justify: center, $align: center);
		&:hover {
			background-color: rgba($user-hover, .12);
		}
		& span {
			font-weight: 600;
			color: $light-blue;
		}
	}
}
