@use '../../../app/styles/vars.scss' as *;
@use '../../../app/styles/mixin.scss' as *;

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 80px;

  @include respond-max($break-md) {
    margin-bottom: 40px;
  }
}

.back-btn {
  display: none;
  border: 0;
  background: transparent;
  cursor: pointer;

  @include respond-max($break-md) {
    display: block;
  }

  img {
    width: 35px;
    object-fit: contain;
    transition: all 0.1s ease;
    border-radius: 100%;

    &:hover {
      transform: scale(1.2);
      background: #eee;
    }
  }
}

.legal-container {
  max-width: 800px;
  margin: 24px auto;
  padding: 0 20px;
  font-family: 'Inter', sans-serif;
  color: #111;
  margin-top: 80px;

  @include respond-max($break-md) {
    margin: 24px auto;
  }
}

h1 {
  white-space: nowrap;
  padding: 12px 0;
  font-size: 48px;
  font-weight: 700;

  @include respond-max($break-md) {
    font-size: 24px;
  }
}

section {
  margin-bottom: 28px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

p,
li {
  font-size: 16px;
  line-height: 1.6;
  color: #111;
  margin-bottom: 24px;
}

ul {
  padding-left: 16px;
  margin: 8px 0 0 0;
}

a {
  color: #29abe2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 1531px) {
  .legal-container {
    margin: 80px 250px;
  }
}
