@use './../../../../styles.scss' as *;
@use '../../../styles/mixin.scss' as *;
@use '../../../styles/vars.scss' as *;

section {
	animation: slideIn 300ms ease-out;
}

.contact_card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 35px;
	&_header {
		display: flex;
		align-items: center;
		@include spacing(gap,35px, 55px, 75px);
		@media (min-width: $break-lg) and (max-width: $break-xl) {
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
		}
	}
	&_name {
		display: flex;
		flex-direction: column;
		gap: 15px;
		h3 {
			@include text-style-responsive(36px,41px,47px, 'Inter', 700)
		}
	}
	&_actions {
		display: flex;
		gap: 30px;
		@include respond-max($break-xs){
			display: none;
		}

		.edit-btn,
		.delete-btn {
			display: flex;
			gap: 10px;
		}

		button {
			display: flex;
			background: none;
			border: none;
			cursor: pointer;
			font-size: 16px;
			color: inherit;
			font-weight: inherit;
		}

		.edit-btn:hover,
		.delete-btn:hover {
			color: $light-blue;
			font-weight: 600;
		}

		.edit-btn svg path,
		.delete-btn svg path {
			fill: currentColor;
		}
	}
}

.info-header {
	padding: 12px 0;
	> p {
		font-weight: 400;
	}
}

.info-section {
	padding: 12px 0;
	> div {
		margin-bottom: 20px;
	}
}

.profil-icon {
	border-radius: 100%;
	border: 2px solid #fff;
	& > p {
		@include text-style-responsive(27px, 37px, 47px, 'Inter', 500);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 120px;
		height: 120px;
		color: white;

		@include respond-max($break-xs) {
			width: 80px;
			height: 80px;
		}
	}
}

.info-email,
.info-phone {
	display: flex;
	flex-direction: column;
	gap: 15px;
	a {
		color: $light-blue;
		text-decoration: none;
		width: fit-content;
	}
}
