@use '../../../../../app/styles/vars.scss' as *;
@use '../../../../../app/styles/mixin.scss' as *;
@use 'sass:map';

.task {
	background: white;
	border-radius: radius(medium);
	padding: 1rem;
	margin-bottom: $spacing-md;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;

	&:active {
		cursor: grabbing;
	}

	&__title {
		margin-bottom: $spacing-sm;
		font-size: 1rem;
		font-weight: 700;
		color: $darkblue;
	}

	&__description {
		margin-bottom: $spacing-md;
		color: $board-border;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__meta {
		display: flex;
		gap: 8px;
		font-size: 11px;
	}

	&__priority {
		border-radius: 4px;
		color: #333;
	}
	
	&__category {
		padding: .25rem 1rem;
		border-radius: radius(medium);
		color: #fff;
		margin-bottom: $spacing-md;
		display: block;
		width: fit-content;
		&.user {
			background: $story-color;
		}
		&.technical {
			background: $task-color;
		}
	}
}
