<div class="task" (click)="openTaskModal()">
	<span class="task__category" [class]="task()?.category == 'User Story' ? 'user' : 'technical'">
		{{ task()?.category }}
	</span>
	<h4 class="task__title">{{ task()?.title }}</h4>
	<p class="task__description">{{ task()?.description }}</p>
	@if ((task()?.subtasks?.length ?? 0) > 0) {
		<div class="task__subtasks">
			<div class="task__subtasks--line">
				<div class="task__subtasks--progress" [style.width]="getProgress(task()!.subtasks!.length, getDoneTasks())"></div>

			</div>
			<p class="task__subtasks--done">
				{{ getDoneTasks() }}/{{ task()?.subtasks?.length }} Subtasks
			</p>
		</div>
	}
	<div class="task__meta">
		<div class="task__assigned">
			@for (contact of assignedContacts(); track $index) {
				@if ($index < 3) {
					<span [style.background-color]="contact.color" [style.transform]="!$first ? 'translateX(' + (-5 * $index) + 'px)' : ''">{{ getInitials(contact.name) }}</span>
				}
			}
		</div>
		@if (task()?.priority == 'low') {
			<app-icon name="low" [size]="18" class="low"></app-icon>
		} @else if (task()?.priority == 'medium') {
			<app-icon name="medium" [size]="18" class="medium"></app-icon>
		} @else if (task()?.priority == 'urgent') {
			<app-icon name="high" [size]="18" class="urgent"></app-icon>
		}
	</div>
</div>
@if (isOpen()) {
	<app-task-modal [task]="task()" (close)="closeTaskModal()"></app-task-modal>
}
