@use '../../../../../app/styles/vars.scss' as *;
@use '../../../../../app/styles/mixin.scss' as *;
@use 'sass:map';

.task {
	background: white;
	border-radius: radius(medium);
	padding: 1rem;
	margin-bottom: $spacing-md;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	@include respond-max($break-md) {
		max-width: 250px;
	}

	&:active {
		cursor: grabbing;
	}

	&__title {
		margin-bottom: $spacing-sm;
		font-size: 1rem;
		font-weight: 700;
		color: $darkblue;
	}

	&__description {
		margin-bottom: $spacing-md;
		color: $board-border;
		font-weight: 300;
		display: -webkit-box;
		line-clamp: 2;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__meta {
		margin-top: $spacing-md;
		@include dFlex-responsive(row, row, space-between, center);
	}

	&__priority {
		border-radius: 4px;
		color: #333;
	}
	
	&__category {
		padding: .25rem 1rem;
		border-radius: radius(medium);
		color: #fff;
		margin-bottom: $spacing-md;
		display: block;
		width: fit-content;
		&.user {
			background: $story-color;
		}
		&.technical {
			background: $task-color;
		}
	}

	&__subtasks {
		gap: $spacing-sm;
		@include dFlex-responsive(row, row, center, center);
		> * {
			flex: 0 0 calc(50% - $spacing-xs);
			max-width: calc(50% - $spacing-xs)
		}
		&--line {
			height: .5rem;
			background: $progress-bg;
			border-radius: radius(medium);
		}
		&--progress {
			height: .5rem;
			background: $progress-bar;
			border-radius: radius(medium);
		}
	}

	&__assigned {
		@include dFlex-responsive(row, row, center, center);
		span {
			width: 32px;
			height: 32px;
			border-radius: 100%;
			color: #fff;
			@include dFlex-responsive(row, row, center, center);
		}
	}
}
