@use 'sass:map';
@use 'sass:color';
@use '../../../../../styles/vars.scss' as *;
@use '../../../../../styles/mixin.scss' as *;

.task-modal {
	@include modal-backdrop;

	&__backdrop {
		@include modal-backdrop;
		background: rgba(0, 0, 0, 0.5);
	}

	&__dialog {
		@include modal-dialog(525px, 800px);
		display: flex;
		flex-direction: column;
		padding: 48px 40px;

		&--edit {
			padding: 0;
			max-width: 525px;
			height: 90vh;

			@include respond-max($break-md) {
				width: calc(100% - 20px);
				height: auto;
				max-height: calc(100vh - 40px);
			}
		}

		app-add-task {
			flex: 1;
			display: flex;
			flex-direction: column;
			overflow: hidden;
		}
	}
	&__wrapper {
		flex: 1;
		overflow-y: auto;
		padding-right: 8px;
		@include custom-scrollbar;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;
	}
	&__category {
		padding: 4px 24px;
		border-radius: radius(medium);
		color: #fff;
		display: block;
		width: fit-content;
		&.user {
			background: $story-color;
		}
		&.technical {
			background: $task-color;
		}
		> span {
			background-color: $story-color;
			color: white;
			border-radius: 10px;
			font-size: 16px;
		}
	}

	&__close-btn {
		background: none;
		border: none;
		font-size: 28px;
		line-height: 1;
		color: #000;
		padding: $spacing-xs;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: color 0.2s;
		-webkit-tap-highlight-color: transparent;

		&:hover {
			background-color: #eeeeee;
			border-radius: 100%;
		}

		@include respond-max($break-md) {
			top: 10px;
			right: 10px;
			&:hover {
				background-color: transparent;
			}
			img {
				filter: brightness(6);
			}
		}
	}

	&__due-date {
		display: flex;
		gap: 1rem;
		> p {
			color: #42526e;
		}
	}
	&__priority {
		display: flex;
		gap: 2rem;
		> p {
			color: #42526e;
		}
		&--value {
			display: flex;
			align-items: center;
			> span {
				padding-right: 1rem;
			}
		}
	}

	&__assigned {
		> span {
			color: #42526e;
		}
		> div {
			display: flex;
			align-items: center;
			gap: 2rem;
			margin: 25px 0;
			padding-left: 1rem;
			> div {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				width: 42px;
				height: 42px;
				border-radius: 100%;
				color: #fff;
			}
		}
	}

	&__subtasks {
		> p {
			color: #42526e;
		}
		.subtasks-list {
			display: flex;
			flex-direction: column;
			gap: 16px;
			margin: 16px 0;
		}
		.subtask-row {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 16px;
			padding: $spacing-xs $spacing-sm;
			position: relative;
			
			.subtask-checkbox-wrapper {
				@include custom-checkbox(16px, $darkblue, 'checkmark');
			}

			* {
				cursor: pointer;
			}
			&:hover {
				background-color: #eeeeee;
				border-radius: 10px;
			}
			& label {
				width: 100%;
			}
		}
	}

	&__actions {
		display: flex;
		justify-content: flex-end;
		margin-top: 24px;
		@include respond-max($break-md) {
			display: none;
		}

		.edit-btn {
			width: 76px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 0.5rem;
			cursor: pointer;
		}
		.delete-btn {
			width: 92px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 0.5rem;
			cursor: pointer;
		}

		button {
			display: flex;
			background: none;
			border: none;
			font-size: 16px;
			color: inherit;
			font-weight: inherit;
		}

		.edit-btn:hover,
		.delete-btn:hover {
			color: $light-blue;
			font-weight: 600;
		}

		.edit-btn svg path,
		.delete-btn svg path {
			fill: currentColor;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes slideOut {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(100%);
	}
}
