@use 'sass:map';
@use '../../styles/vars.scss' as *;

/* === Sidebar Container === */
.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #2a3647;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 90px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

/* === Logo Bereich === */
.logo-section {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;

  & .logo {
	object-fit: contain;
    width: 120px;
    height: 120px;
  }
}

.nav-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* === Navigation Links === */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    font-size: 18px;
    transition: background 150ms ease-in-out;

    &:hover {
      background-color: '#lightblue';
    }

    &.active {
      background-color: #091931;
    }

    & .nav-icon {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
}

/* === Bottom Links (Privacy / Legal Notice) === */
.bottom-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 32px;
  padding-bottom: 16px;

  & a {
    color: #a8a8a8;
    text-decoration: none;
    font-size: 14px;
    transition: color 150ms;

    &:hover {
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 80px;
    padding: 0;
    position: fixed;
    bottom: 0;
    top: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }

  .logo-section {
    display: none; /* Logo ausblenden */
  }

  .nav-section {
    width: 100%;
	height: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    li {
      flex-direction: column;
      padding: 8px 6px;
	  justify-content: center;
	  gap: 5px;
      font-size: 16px;
	  min-width: 65px;

      &.active {
        border-radius: map.get($radius, medium);
      }

      .nav-icon {
        width: 28px;
        height: 28px;
      }

    }
  }

  .bottom-links {
    display: none; 
  }
}