@use 'sass:map';
@use '../../styles/vars.scss' as *;
@use '../../styles/mixin.scss' as *;

/* === Sidebar Container === */
.sidebar {
	width: 240px;
	height: 100vh;
	background-color: $darkblue;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 90px 0;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
}

/* === Logo Bereich === */
.logo-section {
	display: flex;
	justify-content: center;
	margin-bottom: 200px;
	@media (max-height: 850px) {
		margin-bottom: 100px;
	}

	& .logo {
		object-fit: contain;
		width: 120px;
		height: 120px;
	}
}

.nav-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
}

/* === Navigation Links === */
.nav-links {
	list-style: none;
	padding: 0;
	margin: 0;

	& li {
		padding: 16px 32px;
		display: flex;
		align-items: center;
		gap: 16px;
		cursor: pointer;
		transition: background 150ms ease-in-out;
		color: #CDCDCD;

		&:hover {
			background-color: $nav-hover;
		}

		&.active {
			background-color: $secondary-color;
			color: white;
			.nav-icon {
				filter: brightness(0) invert(1);
			}
		}

		& .nav-icon {
			width: 24px;
			height: 24px;
			object-fit: contain;
			
		}
	}
}

/* === Bottom Links (Privacy / Legal Notice) === */
.bottom-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	padding-bottom: 16px;
	margin-top: $spacing-xl;
	height: 100%;
	& a {
		color: #a8a8a8;
		text-decoration: none;
		transition: color 150ms;
		width: 100%;
		padding: 5px 30px;

		&:hover {
			font-weight: 700;
			color: $light-blue;
		}
		&.active {
			background-color: $secondary-color;
		}
	}
}

@include respond-max($break-md) {
	.sidebar {
		width: 100%;
		height: 80px;
		padding: 0;
		position: fixed;
		bottom: 0;
		top: auto;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		z-index: 50;
	}

	.logo-section {
		display: none;
	}

	.nav-section {
		width: 100%;
		height: 100%;
		flex-direction: row;
		justify-content: space-between;
		
	}

	.nav-links {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		li {
			flex-direction: column;
			padding: 8px 6px;
			justify-content: center;
			gap: 5px;
			font-size: 16px;
			min-width: 65px;
			@include respond-max($break-xs) {
				padding: 8px 4px;
				flex: 0 0 25%;
				max-width: 25%;
			}

			&:hover {
				border-radius: radius(medium);
				background-color: $darkblue;
			}

			&.active {
				border-radius: radius(medium);
				.nav-icon {
					filter: brightness(0) invert(1);
				}
			}

			.nav-icon {
				width: 28px;
				height: 28px;
			}
		}
	}

	.bottom-links{
		gap: 0;
		margin: 0;
		flex-direction: row;
		padding-bottom: 0;

		&--hide-mobile {
			display: none;
		}

		& a {
			padding: 16px;
			color: white;
			font-weight: 300;

			&:hover {
				font-weight: 300;
				color: white;
			}
		}
	}

	.bottom-link {
		width: max-content;
		white-space: nowrap;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100%;
		border-radius: 16px;
	}
}
