@use '../../../app/styles/vars.scss' as *;
@use '../../../app/styles/mixin.scss' as *;

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 80px;

  @include respond-max($break-md) {
    margin-bottom: 40px;
  }
}

.back-btn {
  display: none;
  border: 0;
  background: transparent;
  cursor: pointer;

  @include respond-max($break-md) {
    display: block;
  }

  img {
    width: 35px;
    object-fit: contain;
    transition: all 0.1s ease;
    border-radius: 100%;

    &:hover {
      transform: scale(1.2);
      background: #eee;
    }
  }
}

.privacy-container {
  margin: 24px auto;
  padding: 0 50px;
  font-family: 'Inter', sans-serif;
  color: #111;
  margin-top: 80px;

  @include respond-max($break-md) {
    margin: 24px auto 104px;
	padding: 0 20px;
  }

  .highlight {
    background-color: #f8f9fa;
    padding: 15px;
    border-left: 4px solid $light-blue;
    margin: 20px 0;
  }
}

h1 {
  white-space: nowrap;

  @include respond-max($break-md) {
    font-size: 32px;
  }

  @include respond-max($break-xs) {
    font-size: 24px;
    word-break: break-word;
  }
}

section {
  margin-bottom: 28px;
}

h2 {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 12px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 15px;
}

p,
li {
  font-size: 16px;
  line-height: 1.6;
  color: #111;
  margin-bottom: 24px;
  hyphens: auto;
}

ul {
  padding-left: 16px;
  margin: 8px 0 16px 0;
}

a {
  color: #29abe2;
  text-decoration: none;
  word-break: break-word;
  overflow-wrap: break-word;

  &:hover {
    text-decoration: underline;
  }
}