@use '../../styles/vars.scss' as *;
@use '../../styles/mixin.scss' as *;

.summary {
	height: calc(100vh - 80px);
	padding: $spacing-xl $spacing-md $spacing-xl $spacing-lg;

	@include respond-max($break-xl) {
		padding: $spacing-lg $spacing-lg $spacing-xl;
	}
	
	@include respond-max($break-lg) {
		padding: $spacing-lg $spacing-md $spacing-xl;
	}

	@include respond-max($break-md) {
		padding: $spacing-lg $spacing-md $spacing-xl;
	}

	@include respond-max($break-sm) {
		padding: $spacing-sm;
	}
	&-header {
		margin-bottom: $spacing-mdg;
		h1 {
			@include text-style-responsive(40px, 54px, 61px, 'Inter', 700);
			display: flex;
			@include respond-max($break-xs) {
				flex-direction: column;
				align-items: flex-start;
				gap: 7px;
			}

			align-items: center;
			gap: $spacing-md;
			
			small {
				@include text-style-responsive(20px, 24px, 27px, 'Inter', 400);
				color: $darkblue;
				

				@include respond-max($break-xs) {
					order: 2;
				}
			}
		}

		.divider {
			width: 3px;
			height: 59px;
			background: $light-blue;

			@include respond-max($break-xs) {
				width: 90px;
				height: 3px;
				order: 3;
				margin-top: $spacing-sm; 
			}
		}
	}
	&-content {
		gap: 5rem;
		@include dFlex-responsive(row, row, flex-start, center);
		> * {
			flex: 0 0 calc(50% - 40px);
			max-width: calc(50% - 40px);

			@include respond-max($break-xl) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		& .left {
			@include respond($break-xl) {
				min-width: 525px;
			}
		}
		@include respond-max($break-xl) {
			gap: $spacing-lg;
		}
	}

	/* RIGHT SIDE */
	.right {
		@include respond($break-xl) {
			flex: unset;
		}
		@include respond-max($break-xl) {
			order: -1;
		}

		@include respond-max($break-xl) {
			display: none;
		}

		h2 {
			color: $darkblue;
		}

		h3 {
			font-weight: 700;
			color: $light-blue;
			margin-top: 8px;
		}
	}
}

/* TOP CARDS */
.top-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: $spacing-md;
	margin-bottom: $spacing-md;
}

/* URGENT */
.urgent-card {
	background: #fff;
	border-radius: radius(large);
	padding: $spacing-mdg $spacing-mdg;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
	margin-bottom: $spacing-md;
	transition: all 0.2s ease;
	cursor: pointer;
	gap: $spacing-mdg;

	@include respond-max($break-sm) {
		padding: $spacing-md;
	}

	@media (max-width: 400px) {
		padding: 8px;
	}

	&:hover {
		background: $darkblue;
		color: #FFFFFF;
		transform: scale(1.05);

		.sub {
			color: #FFFFFF;
		}
	}

	& .wrapper {
		@include dFlex-responsive(column, column, center, center);
	}

	& .divider {
		height: 100px;
		width: 4px;
		background-color: $board-border;

		@include respond-max($break-sm) {
			height: 60px;
		}

		@media (max-width: 400px) {
			height: 50px;
		}
	}
}

.urgent-left {
	display: flex;
	align-items: center;
	gap: $spacing-md;
	justify-content: center;
	width: 100%;

	@include respond-max($break-sm) {
		gap: $spacing-sm;
	}
}

.urgent-right{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.urgent-right-content {
	display: flex;
	flex-direction: column;
	text-align: left;

	.date {
		font-weight: 700;
		font-size: 1.25rem;
		margin-bottom: $spacing-sm;

		@include respond-max($break-sm) {
			font-size: 1rem;
		}

		@media (max-width: 400px) {
			font-size: 0.85rem;
			margin-bottom: $spacing-xs;
		}
	}

	.sub {
		font-size: 1rem;
		color: $darkblue;

		@include respond-max($break-sm) {
			font-size: 0.8rem;
		}

		@media (max-width: 400px) {
			font-size: 0.7rem;
		}
	}
}

/* BOTTOM CARDS */
.bottom-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: $spacing-md;
}

	/* CARD BASE */
.card {
	background: #fff;
	border-radius: radius(large);
	padding: $spacing-mdg;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
	transition: all 0.2s ease;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	text-align: center;

	@include respond-max($break-sm) {
		padding: $spacing-md;
	}

	@media (max-width: 400px) {
		padding: 8px;
		gap: 4px;
	}

	&:hover {
		background: $darkblue;
		color: #FFFFFF;
		transform: scale(1.05);

		.label {
			color: #FFFFFF;
		}

		.icon {
			background: #fff;
		}
		app-icon {
			color: $darkblue;
		}
	}

	.label {
		display: flex;
		flex-direction: column;
		white-space:nowrap;
		font-size: 1.25rem;
		color: $darkblue;
		font-weight: 400;

		@include respond-max($break-sm) {
			font-size: 0.9rem;
		}

		@media (max-width: 400px) {
			font-size: 0.75rem;
		}
	}

	&.horizontal {
		gap: $spacing-md;
		text-align: left;
		@include dFlex-responsive(row, row, center, center);
		& .wrapper {
			@include dFlex-responsive(column, column, center, center);
		}

		@include respond-max($break-sm) {
			flex-direction: row;
			gap: $spacing-sm;
			text-align: center;
		}
	}
}

.value {
	@media (max-width: 400px) {
		font-size: 2.5rem;
	}
}


/* ICON */
.icon {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background: $darkblue;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	app-icon {
		width: 28px;
		color: #fff;
	}
	@include respond-max($break-xs) {
		width: 40px;
		height: 40px;
		app-icon {
			width: 18px;
		}
	}
}

.urgent-icon {
	background: $urgent-color;
}
