@use '../../../../../app/styles/mixin.scss' as *;
@use '../../../../../app/styles/vars.scss' as *;
@use 'sass:map';

:host {
	display: block;
	min-height: 400px;
	width: 100%;
	padding: $spacing-sm;
	border: 2px dashed transparent;
	@include respond-max($break-md) {
		gap: $spacing-sm;
		overflow: auto;
		padding: $spacing-sm;
		min-height: unset;
		@include dFlex-responsive(row, row, flex-start, center);
	}
	&.cdk-drop-list-dragging {
		border: 2px dashed $light-blue;
		border-radius: radius(medium);
	}
}