@use './../src/app/styles/mixin.scss' as *;
@use './../src/app/styles/fonts.scss' as *;

* {
	font-family: 'Inter', sans-serif;
}

 h1, h2, h3, h4, h5, p {
	margin: 0;
 }

h1 {
	font-size: 61px;
	font-weight: 700;
}

h2 {
	font-size: 64px;
	font-weight: 700;
}

h3 {
	font-size: 47px;
	font-weight: 500;
}

h4 {
	font-size: 27px;
	font-weight: 400;
}

h5 {
	font-size: 20px;
	font-weight: 700;
}

p {
	font-size: 16px;
	font-weight: 400;
}