@use './../src/app/styles/mixin.scss' as *;
@use './../src/app/styles/fonts.scss' as *;

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

 h1, h2, h3, h4, h5, p {
	margin: 0;
 }

h1, .h1 {
	font-size: 61px;
	font-weight: 700;
}

h2, .h2 {
	font-size: 64px;
	font-weight: 700;
}

h3, .h3 {
	font-size: 47px;
	font-weight: 500;
}

h4, .h4 {
	font-size: 27px;
	font-weight: 400;
}

h5, .h5 {
	font-size: 20px;
	font-weight: 700;
}

p {
	font-size: 16px;
	font-weight: 400;
}

// PrimeNG Toast custom styles
p-toast {
	position: fixed;
	top: 1.25rem;
	right: 1.25rem;
	z-index: 9999;
	--p-toast-border-width: 0;
	--p-toast-success-detail-color: white;
}

.p-toast-message-success .p-toast-detail {
	padding: 20px;
	background: #2A3647;
	color: white;
	border-radius: 10px;
	text-align: center;
	border: none;
}

.p-toast-message button,
.p-toast-message svg,
.p-toast-message i,
.p-toast-summary {
	display: none;
}

