@use './../src/app/styles/mixin.scss' as *;
@use './../src/app/styles/fonts.scss' as *;
@use './../src/app/styles/vars.scss' as *;

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

 h1, h2, h3, h4, h5, p {
	margin: 0;
 }

h1, .h1 {
	font-size: 61px;
	font-weight: 700;
	@include respond-max($break-md) {
		font-size: 47px;
	}
}

h2, .h2 {
	font-size: 64px;
	font-weight: 700;
}

h3, .h3 {
	font-size: 47px;
	font-weight: 500;
}

h4, .h4 {
	font-size: 27px;
	font-weight: 400;
}

h5, .h5 {
	font-size: 20px;
	font-weight: 700;
}

p {
	font-size: 16px;
	font-weight: 400;
}

// Utility //
.join {
	color: $light-blue;
}
.hide-mobile {
	@include respond-max($break-md) {
    	display: none;
  	}
}
.show-mobile {
	display: none;
	@include respond-max($break-md) {
    	display: block;
  	}
}
// Utility //