@use '../../../../app/styles/vars.scss' as *;
@use '../../../../app/styles/mixin.scss' as *;
@use 'sass:map';

.overview {
	&__head {
		width: 100%;
		gap: $spacing-md;
		@include dFlex-responsive(column, row, center, flex-start);
		@include respond-max($break-xl) {
			flex-wrap: wrap;
			gap: $spacing-sm;
		}
		@include respond-max($break-md) {
			width: 100%;
		}
	}
	&__column {
		flex: 0 0 calc(25% - 15px);
		@include respond-max($break-xl) {
			flex: 0 0 calc(50% - 5px);
		}
		@include respond-max($break-md) {
			flex: 0 0 100%;
			width: 100%;
		}
		.placeholder {
			padding: $spacing-sm 1rem;
			border: 1px dashed $board-border;
			background-color: #E7E7E7;
			border-radius: radius(medium);
		}
	}
	&__title {
		color: $darkblue;
		padding: 0 $spacing-sm;
		margin-bottom: $spacing-md;
		@include dFlex-responsive(row, row, space-between, center);
		& app-icon {
			color: $darkblue;
			padding: $spacing-xs;
			border: 2px solid $darkblue;
			border-radius: radius(medium);
			cursor: pointer;
			&:hover {
				color: $light-blue;
				border-color: $light-blue;
			}
		}
	}
	app-task {
		overflow: visible;
	}
}

.modal-overlay {
	@include modal-backdrop;
	padding: $spacing-md;

	&--closing {
		animation: slideOut 0.35s ease-out;
	}
}

.modal-content {
	display: flex;
	flex-direction: column;
	@include modal-dialog(1116px, 90vh);
	&--closing {
		animation: slideOut 0.35s ease-out;
	}
	
	app-add-task {
		height: 100%;
	}

	&__close-btn {
	position: absolute;
	top: 5%;
	right: 5%;
	background: none;
	border: none;
	font-size: 28px;
	line-height: 1;
	color: #666;
	padding: 0;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 0.2s;
	z-index: 10;
	-webkit-tap-highlight-color: transparent;


	@include respond-max($break-md) {
		top: 20px;
		right: 20px;

		&:hover {
			background-color: transparent;
		}
	}

	&:hover {
		background-color: #eeeeee;
		border-radius: 100%;
	}
	}
}