@use '../../../../app/styles/vars.scss' as *;
@use '../../../../app/styles/mixin.scss' as *;
@use 'sass:map';

.overview {
	&__head {
		width: 100%;
		gap: $spacing-md;
		@include dFlex-responsive(column, row, center, flex-start);
		@include respond-max($break-xl) {
			flex-wrap: wrap;
			gap: $spacing-sm;
		}
		@include respond-max($break-md) {
			width: 100%;
		}
	}
	&__column {
		flex: 0 0 calc(25% - 15px);
		@include respond-max($break-xl) {
			flex: 0 0 calc(50% - 5px);
		}
		@include respond-max($break-md) {
			flex: 0 0 100%;
			width: 100%;
		}
		.placeholder {
			padding: $spacing-sm 1rem;
			border: 1px dashed $board-border;
			background-color: #E7E7E7;
			border-radius: radius(medium);
		}
	}
	&__title {
		color: $darkblue;
		padding-left: $spacing-sm;
		margin-bottom: $spacing-md;
		@include dFlex-responsive(row, row, space-between, center);
		app-icon {
			color: $darkblue;
			padding: $spacing-xs;
			border: 2px solid $darkblue;
			border-radius: radius(medium);
			cursor: pointer;
			&:hover {
				color: $light-blue;
				border-color: $light-blue;
			}
		}
	}
	app-task {
		overflow: visible;
	}
}

.modal-overlay {
	@include modal-backdrop;
	padding: $spacing-md;
}

.modal-content {
	@include modal-dialog(1116px, 90vh);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}