<div class="overview" #overview>
	<div class="overview__head">
		@for (item of columns; track item.title) {
		<div class="overview__column">
			<div class="overview__title h5">
				{{ item.title }}
				@if (!$last) {
				<app-icon
					name="plus"
					[size]="12"
					(click)="openAddTaskModal(item.id)"
					style="cursor: pointer;"
				/>
				}
			</div>

			<app-task-column
				cdkDropList
				[id]="item.id"
				[cdkDropListData]="item.id"
				[cdkDropListConnectedTo]="connectedLists()"
				(cdkDropListDropped)="onTaskDropped($event)"
			>
				@for (task of getFilteredTasksByStatus(item.id); track task.id)
				{
				<app-task
					[task]="task"
					cdkDrag
					[cdkDragData]="task"
					[cdkDragStartDelay]="dragDelay()"
					(cdkDragMoved)="onDragMoved($event)"
					(taskClicked)="selectedTask.set($event)"
				/>
				@if (selectedTask()?.id === task.id) {
				<app-task-modal [task]="task" (close)="selectedTask.set(null)" />
				}
				} @empty {
				<div class="placeholder">No tasks {{ item.title }}</div>
				}
			</app-task-column>
		</div>
		}
	</div>
</div>

@if (isAddTaskModalOpen()) {
	<div class="modal-overlay" (click)="closeAddTaskModal()">
		<div class="modal-content" (click)="$event.stopPropagation()">
			<app-add-task
				[isModal]="true"
				[initialStatus]="selectedStatus()"
				(taskCreated)="closeAddTaskModal()"
			/>
		</div>
	</div>
}
